@use "sass:list";

/* padding */
$padding-sizes: (
    "py-32px": (
        32px,
        0,
        32px,
        0
    ),
    "px-36px": (
        0,
        36px,
        0,
        36px
    ),
    "pb-66px": (
        0,
        0,
        66px,
        0
    ),
    "py-66px": (
        66px,
        0,
        66px,
        0
    )
);

@each $class, $values in $padding-sizes {
    .#{$class} {
        @if list.nth($values, 1) != 0 {
            padding-top: list.nth($values, 1);
        }
        @if list.nth($values, 2) != 0 {
            padding-right: list.nth($values, 2);
        }
        @if list.nth($values, 3) != 0 {
            padding-bottom: list.nth($values, 3);
        }
        @if list.nth($values, 4) != 0 {
            padding-left: list.nth($values, 4);
        }
    }
}

@media (min-width: 768px) {
    /* md-padding */
    $md-padding-sizes: (
        "pt-md-236px": (
            236px,
            0,
            0,
            0
        ),
        "px-md-96px": (
            0,
            96px,
            0,
            96px
        ),
        "ps-md-73vw": (
            0,
            0,
            0,
            7.3vw
        )
    );
    @each $class, $values in $md-padding-sizes {
        .#{$class} {
            @if list.nth($values, 1) != 0 {
                padding-top: list.nth($values, 1);
            }
            @if list.nth($values, 2) != 0 {
                padding-right: list.nth($values, 2);
            }
            @if list.nth($values, 3) != 0 {
                padding-bottom: list.nth($values, 3);
            }
            @if list.nth($values, 4) != 0 {
                padding-left: list.nth($values, 4);
            }
        }
    }
}

@media (min-width: 1400px) {
    /* xxl-padding */
    .pt-xxl-196px {
        padding-top: 196px;
    }
    .px-xxl-142px {
        padding-left: 142px;
        padding-right: 142px;
    }
}
