@import "padding";
@import "font-size";

@font-face {
    font-family: "SohoGothicPro";
    src: url("../assets/fonts/SohoGothicPro-Regular.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "SohoGothicPro";
    src: url("../assets/fonts/SohoGothicPro-Medium.otf") format("opentype");
    font-weight: 500;
}

body {
    background-color: #666464;
}

.soho-gothic-pro {
    font-family: "SohoGothicPro";
}

.section1,
.section2,
.section3,
.section4,
.section5 {
    height: 736px;
    background-size: cover;
    @media (min-width: 768px) {
        height: 768px;
    }
    @media (min-width: 1400px) {
        height: 800px;
    }
}

@for $i from 1 through 5 {
    .section#{$i} {
        background-image: url("../assets/images/waxed-bg#{$i}-m.webp");
        @media (min-width: 768px) {
            background-image: url("../assets/images/waxed-bg#{$i}-t.webp");
        }
        @media (min-width: 1400px) {
            background-image: url("../assets/images/waxed-bg#{$i}.webp");
        }
    }
}
.section1 {
    background-position: center;
}
.section2 {
    background-position: center;
}
.section3 {
    background-position: top left;
    .logo {
        top: -40px;
        left: clamp(-230px, -12vw, 0px);
    }
}
.section4 {
    background-position: top left;
}
.section5 {
    background-position: top right;
}

.product {
    @media (max-width: 768px) {
        object-fit: contain;
        max-height: 437px;
    }
}

.text-center {
    text-align: center;
}

.go-btn {
    background-image: url("../assets/images/go-btn-blue.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 160px;
    height: 160px;
    transition:
        background-image 0.5s ease-in-out,
        transform 0.3s ease-in-out;
    &:hover {
        background-image: url("../assets/images/go-btn-green.webp");
        transform: scale(1.1);
    }
    @media (min-width: 768px) {
        width: 210px;
        height: 210px;
    }
    @media (min-width: 1400px) {
        width: 250px;
        height: 250px;
    }
}

/* color */
.text-green {
    color: #8fc31f;
}

/* width */
.w-150px {
    width: 150px;
}

.gap-24px {
    gap: 24px;
}

@media (min-width: 768px) {
    /* md-text-align */
    .text-md-end {
        text-align: right !important;
    }
    .text-md-start {
        text-align: left !important;
    }

    /* md-width */
    .w-md-50 {
        width: 50%;
    }
    .w-md-220px {
        width: 220px;
    }

    /* md-margin */
    .my-md-auto {
        margin-top: auto;
        margin-bottom: auto;
    }

    /* md-gap */
    .gap-md-54px {
        gap: 54px;
    }

    .md\:animate__fadeInRight {
        -webkit-animation-name: fadeInRight;
        animation-name: fadeInRight;
    }
}

@media (min-width: 992px) {
    .section6-card {
        width: calc(100% / 3);
    }
}

@media (min-width: 1400px) {
    /* xxl-width */
    .w-xxl-250px {
        width: 250px;
    }
}
