@font-face {
  font-family: "SohoGothicPro";
  src: url("../assets/fonts/SohoGothicPro-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "SohoGothicPro";
  src: url("../assets/fonts/SohoGothicPro-Medium.otf") format("opentype");
  font-weight: 500;
}
body {
  background-color: #666464;
}

.soho-gothic-pro {
  font-family: "SohoGothicPro";
}

.section1,
.section2,
.section3,
.section4,
.section5 {
  height: 736px;
  background-size: cover;
}
@media (min-width: 768px) {
  .section1,
  .section2,
  .section3,
  .section4,
  .section5 {
    height: 768px;
  }
}
@media (min-width: 1400px) {
  .section1,
  .section2,
  .section3,
  .section4,
  .section5 {
    height: 800px;
  }
}

.section1 {
  background-image: url("../assets/images/waxed-bg1-m.webp");
}
@media (min-width: 768px) {
  .section1 {
    background-image: url("../assets/images/waxed-bg1-t.webp");
  }
}
@media (min-width: 1400px) {
  .section1 {
    background-image: url("../assets/images/waxed-bg1.webp");
  }
}

.section2 {
  background-image: url("../assets/images/waxed-bg2-m.webp");
}
@media (min-width: 768px) {
  .section2 {
    background-image: url("../assets/images/waxed-bg2-t.webp");
  }
}
@media (min-width: 1400px) {
  .section2 {
    background-image: url("../assets/images/waxed-bg2.webp");
  }
}

.section3 {
  background-image: url("../assets/images/waxed-bg3-m.webp");
}
@media (min-width: 768px) {
  .section3 {
    background-image: url("../assets/images/waxed-bg3-t.webp");
  }
}
@media (min-width: 1400px) {
  .section3 {
    background-image: url("../assets/images/waxed-bg3.webp");
  }
}

.section4 {
  background-image: url("../assets/images/waxed-bg4-m.webp");
}
@media (min-width: 768px) {
  .section4 {
    background-image: url("../assets/images/waxed-bg4-t.webp");
  }
}
@media (min-width: 1400px) {
  .section4 {
    background-image: url("../assets/images/waxed-bg4.webp");
  }
}

.section5 {
  background-image: url("../assets/images/waxed-bg5-m.webp");
}
@media (min-width: 768px) {
  .section5 {
    background-image: url("../assets/images/waxed-bg5-t.webp");
  }
}
@media (min-width: 1400px) {
  .section5 {
    background-image: url("../assets/images/waxed-bg5.webp");
  }
}

.section1 {
  background-position: center;
}

.section2 {
  background-position: center;
}

.section3 {
  background-position: top left;
}
.section3 .logo {
  top: -40px;
  left: clamp(-230px, -12vw, 0px);
}

.section4 {
  background-position: top left;
}

.section5 {
  background-position: top right;
}

@media (max-width: 768px) {
  .product {
    object-fit: contain;
    max-height: 437px;
  }
}

.text-center {
  text-align: center;
}

.go-btn {
  background-image: url("../assets/images/go-btn-blue.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 160px;
  height: 160px;
  transition: background-image 0.5s ease-in-out, transform 0.3s ease-in-out;
}
.go-btn:hover {
  background-image: url("../assets/images/go-btn-green.webp");
  transform: scale(1.1);
}
@media (min-width: 768px) {
  .go-btn {
    width: 210px;
    height: 210px;
  }
}
@media (min-width: 1400px) {
  .go-btn {
    width: 250px;
    height: 250px;
  }
}

/* color */
.text-green {
  color: #8fc31f;
}

/* font-size */
.fs-18px {
  font-size: 18px;
}

.fs-21px {
  font-size: 21px;
}

.fs-30px {
  font-size: 30px;
}

.fs-36px {
  font-size: 36px;
}

.fs-40px {
  font-size: 40px;
}

.fs-45px {
  font-size: 45px;
}

.fs-48px {
  font-size: 48px;
}

.fs-80px {
  font-size: 80px;
}

@media (min-width: 768px) {
  /* md-font-size */
  .fs-md-21px {
    font-size: 21px;
  }
  .fs-md-24px {
    font-size: 24px;
  }
  .fs-md-32px {
    font-size: 32px;
  }
  .fs-md-35px {
    font-size: 35px;
  }
  .fs-md-40px {
    font-size: 40px;
  }
  .fs-md-45px {
    font-size: 45px;
  }
  .fs-md-48px {
    font-size: 48px;
  }
}
/* padding */
.py-32px {
  padding-top: 32px;
  padding-bottom: 32px;
}

.px-36px {
  padding-right: 36px;
  padding-left: 36px;
}

.pb-66px {
  padding-bottom: 66px;
}

.py-66px {
  padding-top: 66px;
  padding-bottom: 66px;
}

/* width */
.w-150px {
  width: 150px;
}

@media (min-width: 768px) {
  .section6-card {
    width: 33.3333333333%;
  }
  /* md-text-align */
  .md-text-end {
    text-align: right !important;
  }
  .md-text-start {
    text-align: left !important;
  }
  /* md-width */
  .w-md-50 {
    width: 50%;
  }
  .w-md-220px {
    width: 220px;
  }
  /* md-margin */
  .md-my-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
  /* md-padding */
  .pt-md-236px {
    padding-top: 236px;
  }
  .px-md-96px {
    padding-right: 96px;
    padding-left: 96px;
  }
  .ps-md-73vw {
    padding-left: 7.3vw;
  }
  /* md-gap */
  .gap-md-54px {
    gap: 54px;
  }
  .md\:animate__fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
  }
}
@media (min-width: 1400px) {
  /* xxl-font-size */
  .fs-xxl-55px {
    font-size: 55px;
  }
  .fs-xxl-48px {
    font-size: 48px;
  }
  .fs-xxl-40px {
    font-size: 40px;
  }
  .fs-xxl-30px {
    font-size: 30px;
  }
  .fs-xxl-45px {
    font-size: 45px;
  }
  .fs-xxl-80px {
    font-size: 80px;
  }
  /* xxl-padding */
  .pt-xxl-196px {
    padding-top: 196px;
  }
  .px-xxl-142px {
    padding-left: 142px;
    padding-right: 142px;
  }
  /* xxl-width */
  .w-xxl-250px {
    width: 250px;
  }
}

/*# sourceMappingURL=style.css.map */
